.App {
  text-align: center;
  height: 600px;
  width: 100%;
  background-image: url(./CityImg.jpeg);
  background-size: cover;
}
.parent{
  border: 1px solid;
  height: 600px;
  width: cover;
  background: #00000066;
  background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 60%,rgba(0,0,0,.8));

}


h1{
  color: white;
}
.Table{
  border:1px solid whitesmoke;
  padding: 10px;
  position: absolute;
  width: 500px;
  left: 30%;
  background-color: #53edf326;  
  color: whitesmoke;
  border-collapse:unset;
}
.update{
  border: 1px solid whitesmoke;
  height: 250px;
  width: 350px;
  position: absolute;
  left: 71.5%;
  top: 10.5%;
  background-color: #53edf326;
}
.saveUser{
  border: 1px solid whitesmoke;
  height: 250px;
  width: 350px;
  position: absolute;
  left: 1%;
  top: 10.5%;
  background-color: #53edf326;
}
.delete-btn{
  background: #bf1b1b;
  color: white;
  border: 1px solid #ffff00;
}
.delete-btn:hover{
  background: #df5c5c;

}
.delete-btn:active{
  background: #f07777;

}
.update-btn{
  background: #008b25;
  color: white;
  border: 1px solid #ffff00;
}
.update-btn:hover{
  background: #0ab838;

}
.update-btn:active{
  background: #71e790;

}
.updateUser-btn{
  background: #00378b;
  color: white;
  border: 1px solid #ffff00;
}
.updateUser-btn:hover{
  background: #0a4fb6;

}
.updateUser-btn:active{
  background: #72a6f4;

}
input[type=text]{
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  width: 311px;
}